<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluster {{ cluster_id }} ({{ cluster_interpretation }}) Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="E-commerce Visuality Logo" class="header-logo">
        <h1>Cluster {{ cluster_id }} ({{ cluster_interpretation }}) Details</h1>
    </header>

    <main>
        <section class="card">
            <div class="table-responsive">
                {{ cluster_table | safe }}
            </div>
        </section>
    </main>
</body>
</html>
